<!DOCTYPE html>
    {% extends "base.html" %}
    {% block body_block %}
    <div class="indintro">
      <div class="indintro1">

        <p class="indp">TRAVEL TIPS</p>
        <P class="about">1. You must have knowledge about the place you want to visit.</p>
          <P class="about">2. Try to findout the nearest "Hotels","Hospitals","Railway stations","Bus stands" etc..</p>
            <P class="about">3. Keep a small backpack or suitcase. It containts only essential things.</p>
              <P class="about">$. Try to read the Historical books, it will helps you to getting more information about that place.
      </div>
    {% endblock %}
